{% extends 'index.html' %} {% block content_block %}
<div class="container-sm">
  <section class="d-flex">
    <h1 class="center">Editar Bodega {{bodegas.id}}</h1>
    <button class="m-2 btn btn-primary btn-xs" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Editar bodega
    </button>
  </section>
      <form action="{% url 'update_bodega' bodegas=bodegas.id %}" method="POST">
        {% csrf_token %}
        {{formulario}}
        <button class="btn btn-primary mt-3 w-100" type="submit">Editar</button>
    </form>
    </div>
</div>
{% endblock %}