{% extends 'index.html' %} {% block content_block %}
<div class="container-sm">
  <section class="d-flex">
    <h1 class="center">Delegaciones</h1>
  </section>
  <div class="border rounded" style="width:500px; margin: 10px; padding: 30px;">
    <h3> Guardar nueva delegacion </h3>
    <form action="/delegaciones/" method="POST">
      {% csrf_token %}
      {{formulario}}
      <button class="btn btn-primary mt-3 w-100" type="submit">Guardar</button>
  </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Universidad</th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      {% for d in delegaciones %}
      <tr>
        <th scope="row">{{d.id}}</th>
        <td>{{d.nombre}}</td>
        <td>{{d.ciudad}}</td>
        <td>{{d.universidad}}</td>
        <td>
          <td style="text-align: center;"><a href="{% url 'update_delegacion' delegaciones=d.id %}">Editar</a></td>
          <td style="text-align: center; color: crimson;"><a style="color: crimson;" href="{% url 'delete_delegacion' delegaciones=d.id %}">Eliminar</i></a></td>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
