{% extends 'index.html' %} {% block content_block %}
<div class="container-sm">
  <section class="d-flex">
    <h1 class="center">Elementos</h1>
    <button class="m-2 btn btn-primary btn-xs" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Añadir Elementos
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Añadir Elementos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"&times;></span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/elementos/" method="POST" class="d-flex flex-column">
              {% csrf_token %}
              {{formulario}}
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for e in elementos %}
      <tr>
        <th scope="row">{{e.id}}</th>
        <td>{{e.nombre}}</td>
        <td>{{e.descripcion}}</td>
        <td>{{e.tipo}}</td>
        <td>
          <button class="btn btn-warning">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
